.container_12{
    background:white;
    
}
header{
    background:palegoldenrod;
   position:fixed;
  
    font-family: 'Sigmar One',cursive;
    font-size:50;
    
}
li a:hover{
    background: pink;
}
a:link{text-decoration: none;}
nav li{
    display:inline;
    margin-left:0;
    margin-right:30px;
    font-size: 15;
    line-height:3;
    font-family: 'Ovo',serif;}
.herounit{
        margin-top:57px;
        background:white;
        font-family: 'Ovo',serif;
        font-size:15;
margin-left:0; 
text-align:justify;  
  width:auto;
 } 
aside{
   float:right; 
   background:white;
   width:30%;
   font-family: 'Ovo',serif;
}
.main{
    margin:30px 0;
}
.primary{
    background:white;  
   width:100%; 
   height:500px;
   font-family: 'Ovo',serif;
   font-size:15;
   text-align:justify;
}

.secondary{
    background:white;
    font-family: 'Ovo',serif;
        font-size:15;
        text-align:justify;
}
footer{
   background:palegoldenrod;
  font-size: 15;
  margin-left:30px;
    margin-right:0;
    font-family: 'Ovo',serif;
}
footer li{
    display:inline;   
}
.comment{
    line-height:3.5;
}